---
layout: default
---

<section id="about" class="section section">
  <div class="container">
    <div class="row">
      <h2 class="section-title"><span>Posts</span></h2>
      <div class="col-md-8 col-md-offset-2">
        {% for post in site.posts %}
          {% if post.category == "blog" %}
            <a href="{{ post.url }}">
              <div class="blog-post">
                <h4>{{ post.title }} <small>{{ post.date | date_to_string }}</small></h4>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>